name: Import single repository

on:
  workflow_dispatch:
    inputs:
      repo_name:
        description: 'The name of the repository to import'
        required: true

jobs:
  import-repo:
    uses: ljubon-org/github-terraformer/.github/workflows/import.yaml@fix-empty-state-import
    with:
      repo_name: ${{ github.event.inputs.repo_name }}
      gcss_ref: fix-empty-state-import
    secrets:
      app_private_key: ${{ secrets.APP_PRIVATE_KEY }}
